.clients {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .clients__list-item {
        @media (min-width: $detskop-size) {
            flex-basis: calc((100% - 2rem) / 6);
            max-width: 170px;
        }
    }
    
    &__icons-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 30px;
    }
    &__icon {
        border: 1px solid $icon-grey;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $icon-grey;
        padding: 16px 32px;
        transition-property: fill, border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            --color1: #2196f3;
            border-color: $blue;
        }
    }
}

@media (min-width: $detskop-size) {
    .clients__list-item {
        flex-basis: calc((100% - 2rem) / 6);
        max-width: 170px;
    }
}
