.input {
    font-size: 12px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #21212133;
    outline: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $shadow;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    box-shadow: 0px 2px 1px 0px;
    box-shadow: 0px 1px 1px 0px;
    box-shadow: 0px 1px 3px 0px;
    border-radius: 4px;
    padding: 40px;

    @media screen and (max-width: 1199px) {
        width: 95%;
        max-width: 450px;
        height: 95%;
        max-height: 609px;
        overflow: scroll;
    }
    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }

    &__form-label:hover > &__form-svg {
        fill: $blue;
    }

    &__form-label:focus-within &__form-svg {
        fill: $blue;
    }

    &__closing-button {
        width: 17px;
        height: 17px;
        padding: 14px;
        border-radius: 50%;
        top: 8px;
        right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 0;
        border: 1px solid #0000001a;
        background-color: $white;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            cursor: pointer;
        }
        &:hover > .modal__close-icon{
            fill: #2196f3;
        }
    }


    &__close-icon {
        fill: #000000;
        width: 11px;
        height: 11px;
        position: inherit;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &__form-header {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $dark-grey;
        margin-bottom: 12px;
    }
    &__form-label {
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $light-grey;
        margin-top: 10px;
    }
    &__form-svg {
        position: absolute;
        left: 14px;
        top: 50%;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__form-input-paragraph {
        color: $light-grey;
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 4px;
    }

    &__form-input {
        padding-left: 42px;
        display: inline-block;
        height: 40px;
        @extend .input;
        &:hover,
        &:focus {
            border-color: $blue;
        }
    }

    &__form-input:focus > &__form-svg {
        fill: $blue;
    }

    &__form-comment-input {
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        font-weight: 400;
        resize: none;
        margin-bottom: 20px;
        margin-top: 10px;
        @extend .input;
        &::placeholder {
            color: #75757580;
            font-weight: 400;
            font-size: 12px;
        }
        &:hover,
        &:focus {
            border-color: $blue;
        }
    }
    &__privacy {
        position: relative;
        display: inline-flex;
        margin-bottom: 31px;
    }
    &__privacy-checkbox-none {
        display: none;
        opacity: 0;
    }
    &__privacy-checkbox {
        position: absolute;
        left: 0;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        fill: $white;
        border: 1px solid $black;
        border-radius: 2px;
    }
    &__privacy-checkbox-none:checked + &__privacy-checkbox {
        background-color: $blue;
        border-color: $blue;
    }
    &__privacy-text {
        padding-left: 26px;
        @media (max-width: $tablet-size) {
            font-size: 12px;
            line-height: 1.16em;
            letter-spacing: 0.03em;
        }
        @media (min-width: $detskop-size) {
            font-size: 14px;
            line-height: 1.71em;
            letter-spacing: 0.03em;
            vertical-align: text-top;
        }
    }
    &__privacy-link {
        color: $blue;
    }
    &__submit-button {
        display: flex;
        justify-content: center;
    }
    &__submit-button-content {
        height: 50px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 4px;
        color: $white;
        background-color: $blue;
        &:active {
            background-color: #1a588a;
        }
    }
}
