.offert {
    @media (max-width: $tablet-size) {
        display: none;
    }
    @media (min-width: $detskop-size) {
        padding-top: 0;
    }

    &__list {
        display: flex;
        gap: 30px;
        flex-direction: row;
    }

    &__panel {
        position: relative;
    }

    &__panel-text {
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color: #2f303acc;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
