.team {
    text-align: center;
    background-color: $buttons;

    &__list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: $detskop-size) {
            flex-direction: row;
        }

        .team-card {
            width: 100%;
            background-color: $white;
            box-shadow: 0px 2px 1px 0px #00000033;
            box-shadow: 0px 1px 1px 0px #00000024;
            box-shadow: 0px 1px 3px 0px #0000001f;
            @media (min-width: $detskop-size) {
                flex-wrap: nowrap;
            }
            &__name {
                margin-top: 30px;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.03em;
                color: $dark-grey;
                margin-bottom: 10px;
            }

            &__proffesion {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.03em;
                color: $light-grey;
            }

            &__icons {
                padding-top: 16px;
                padding-bottom: 24px;
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;
            }

            &__icon {
                display: flex;
                justify-content: center;
                fill: $icon-grey;
                padding: 12px;
                border-radius: 50%;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                &:hover {
                    fill: $white;
                    background-color: $blue;
                }
            }
        }

        &__bottom {
            padding-top: 24px;
            padding-bottom: 24px;

            @media (min-width: $detskop-size) {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }
}
