* {
    margin: 0;
    padding: 0;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --blue: #2196f3;
    --dark-grey: #212121;
    --light-grey: #757575;
    --black: #000;
    --white: #fff;
    --buttons: #f5f4fa;
    --footer: #2f303a;
}

body {
    font-family: Roboto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.portfolio-main {
    padding: 94px 0;
}

.site-nav {
    border-bottom: 1px solid #ececec;
    padding-bottom: 25px;
}




