.section {
    padding-top: 94px;
    padding-bottom: 94px;
  
    @media screen and (max-width: 1199px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
    &__tittles {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
      }
}